{
  "parser":  "@typescript-eslint/parser",  // Specifies the ESLint parser
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}
